node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
!.env.example
/vendor
/public/build
/public/hot
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
